<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">yvScmSsz</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@log660ora12c.logti.etsmtl.ca:1521:LOG660</property>
        <property name="hibernate.connection.username">EQUIPE107</property>
        <property name="hibernate.default_schema">EQUIPE107</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="backend/hibernate/tablesXml/BandeAnnonce.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/CarteCredit.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Client.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Employe.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Exemplaire.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Film.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Forfait.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Genre.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Location.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Pays.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/PersonnalitePublique.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Role.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Scenariste.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/TypeCarteCredit.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/TypePersonne.hbm.xml" />
        <mapping resource="backend/hibernate/tablesXml/Utilisateur.hbm.xml" />
    </session-factory>
</hibernate-configuration>
