<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">yvScmSsz</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@log660ora12c.logti.etsmtl.ca:1521:LOG660</property>
        <property name="hibernate.connection.username">EQUIPE107</property>
        <property name="hibernate.default_schema">EQUIPE107</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="ActeurRole.hbm.xml" />
        <mapping resource="BandeAnnonce.hbm.xml" />
        <mapping resource="CarteCredit.hbm.xml" />
        <mapping resource="Client.hbm.xml" />
        <mapping resource="Employe.hbm.xml" />
        <mapping resource="Exemplaire.hbm.xml" />
        <mapping resource="Film.hbm.xml" />
        <mapping resource="FilmGenre.hbm.xml" />
        <mapping resource="FilmPays.hbm.xml" />
        <mapping resource="FilmScenariste.hbm.xml" />
        <mapping resource="Forfait.hbm.xml" />
        <mapping resource="Genre.hbm.xml" />
        <mapping resource="Location.hbm.xml" />
        <mapping resource="Pays.hbm.xml" />
        <mapping resource="PersonnalitePublique.hbm.xml" />
        <mapping resource="Role.hbm.xml" />
        <mapping resource="Scenariste.hbm.xml" />
        <mapping resource="TypeCarteCredit.hbm.xml" />
        <mapping resource="TypePersonne.hbm.xml" />
        <mapping resource="Utilisateur.hbm.xml" />
    </session-factory>
</hibernate-configuration>
